@font-face {
  font-family: "inter";
  src: url("../fonts/FontName/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "inter-italic";
  src: url("../fonts/FontName/Inter-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: navy;
    border-bottom: 0.5px solid #e5e5e5;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    color: navy;
}

#title {
    color: navy;
    font-family: inter;
    font-size: 10px;
}

.nav {
    font-family: inter;
    text-decoration: none;
    color: inherit;
    font-size: 7px;
}

body {
    background-color: white;
    
}



